body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mybutton p{
  font-size: 35px;
  margin-top: -20px;
}
.mybutton{
  display:flex;
  align-content: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  margin: 5px 10px 5px 10px;
}

#break-label, #session-label{
  display:flex;
  align-content: center;
  justify-content: center;
}
.container{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
}
.button-container{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
}


#start_stop, #reset{
  margin: 5px 50px 5px 50px;
}